<!-- <h1>contact works!</h1> -->

<div class="container">
  <div class="row mt-5 pt-5">

    <div class="col-lg-6">
        <iframe class="mt-5" width="99%" height="450px" src="https://www.youtube.com/embed/RmnRF_lNDbA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="col-lg-6">
        <h1 class="text-center">Take a Look At Our <br> Tour Video</h1>
        <hr class="w-50 d-block mx-auto text-danger mb-5" style="height: 3px;">

        <h3 class="text-center mt-4">Please Fill Up This Form</h3>

        <form action="" class="mt-5">

            <input type="text" placeholder="Enter Full Name" class="form-control"><br>

            <input type="tel" placeholder="Enter Mobile Number" class="form-control"><br>

            <input type="email" placeholder="Enter Your Gmail" class="form-control"><br>

            <textarea class="form-control">Write Your Queries or Doubts Here......</textarea><br>
        </form>
    </div>
  </div>
</div>
