<!-- <h1>Home Works</h1> -->

<div class="container pt-5">
  <div class="row mt-2">

    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a href="" class="navbar-brand  ms-5"><h3>Raj</h3></a>

        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#demo1">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="demo1">
            <ul class="navbar-nav ms-5 me-auto">
                <li class="nav-item ms-5">
                    <a href="" class="nav-link text-white">Home</a>
                </li>

                <li class="nav-item ms-5">
                    <a href="" class="nav-link text-white">About</a>
                </li>

                <span class="dropdown ms-5">
                    <a href="" class="nav-link dropdown-toggle text-white"
                        data-bs-toggle="dropdown">Services</a>

                    <ul class="dropdown-menu">
                        <li><a href="" class="dropdown-item">Team</a></li>
                        <li><a href="" class="dropdown-item">Portfolio</a></li>
                        <li><a href="" class="dropdown-item">Management</a></li>
                    </ul>
                </span>

                <li class="nav-item ms-5">
                    <a href="" class="nav-link text-white">Contact us</a>
                </li>

            </ul>

            <form action="" class="d-flex me-2">
                <input type="text" placeholder="Search...." class="form-control">
                <button class="btn btn-primary">Search</button>
            </form>
        </div>
    </nav>
  </div>

  <h4 class="pt-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio doloribus explicabo facere molestias saepe molestiae soluta necessitatibus illo qui sequi minus libero delectus voluptatum dolorum ipsum vero sapiente suscipit, eos tenetur ullam? Necessitatibus illum at culpa fugit atque. Excepturi minima quasi possimus nesciunt ipsam quaerat eligendi quia inventore expedita sint dignissimos qui distinctio ipsa eaque quidem maiores, nihil vitae laudantium sit quo. Aut possimus vitae unde necessitatibus minus vel nesciunt pariatur veniam, earum nobis ipsum repellendus perspiciatis porro. Quis culpa nisi vel necessitatibus. Ex enim cupiditate aut saepe esse eum. Ut cupiditate enim modi eveniet fugit ipsam dolore. Suscipit, ipsum?</h4>
</div>


